<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">

    <script src="./ejs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <title>Información de Server</title>
</head>

<body>
    <div class="row justify-content-center align-items-center">
        <div class="col-md-5">
            <div class="container-sm border rounded p-3" style="background-color: green;color: white;">
                <h1>Información de Server</h1>
                <br>
                <h3>-Argumentos de entrada: <%=argumentos%>
                </h3>
                <h3>-Sistema Operativo: <%=plataforma%>
                </h3>
                <h3>-Version de node.js: <%=versionNode%>
                </h3>
                </h3>
                <h3>-Uso de Memoria: <%=usoMemoria%>
                </h3>
                <h3>-Número de Procesadores: <%=cantCpus%>
                </h3>
                <h3>-Path de ejecución: <%=path%>
                </h3>
                <h3>-Process id: <%=processId%>
                </h3>
                <h3>-Carpeta del proyecto: <%=carpetaProyecto%>
                </h3>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary my-5" onclick="inicio()">Home</button>
                    </div>
                    <div class="col-6">
                    </div>
                    <div class="col">
                        <button class="btn btn-danger my-5" onclick="logout()">Logout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function redireccionar(pagina) {
            location.href = pagina;
        }
        function inicio() {
            console.log('logout');
            redireccionar('/')
        }
        function logout() {
            console.log('logout');
            redireccionar('/logout')
        }
    </script>
</body>

</html>